{
  "master_notebooks": [
    "01-Example_Lecture",
    "Assignment_1",
    "Assignment_2",
    "Assignment_3",
    "Assignment_4"
  ],
  "notebook_file_extension": "ipynb",
  "notebook_folder": "course/master/jp",
  "target_notebook_folder": "build/student-notebooks",
  "target_assignment_master_folder": "build/private-assignments",
  "target_notebook_book_folder": "build/book-notebooks",
  "assignments": [],
  "CourseID": "COURSE-CODE",
  "CourseName": "Course name",
  "CourseInstance": "2026"
}
