{
  "master_notebooks":["Example_databricks_1"],
  "notebook_file_extension":"db",
  "notebook_folder":"GenerateMaterial/master/db",
  "target_notebook_folder":"GenerateMaterial/generated_assignments",
  "target_notebook_book_folder":"Notebooks",
  "assignments":[1],
  "CourseID":"54514",
  "CourseName":"Scalable Data Science and Distributed Machine Learning",
  "CourseInstance":"2022"
}
